<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-init-method="start"
	default-destroy-method="stop"
	>

	<bean id="HelloworldService" class="cn.com.taiji.spring_framwork.bean.HelloworldService">
		<property name="name" value="yangye"/>
		<!-- <constructor-arg type="String" value="constructor"></constructor-arg> -->
	</bean>
	<bean id="lifeBean" class="cn.com.taiji.spring_framwork.bean.lifeBean"></bean>
	
	<bean id="aotherBean" class="cn.com.taiji.spring_framwork.bean.anotherBean">
		<property name="name" value="aoherBean"></property>
	</bean>
	<bean id="otherBean" class="cn.com.taiji.spring_framwork.bean.otherBean">
		<property name="name" value="other"></property>
	</bean>
	<bean id="exampleBean" class="cn.com.taiji.spring_framwork.bean.exampleBean">
		<property name="anotherBean" ref="aotherBean"></property>
		<property name="otherBean" ref="otherBean"></property>
		<property name="i" value="333"></property>
	</bean>
</beans>
